.better-backlinks-file-match > * {
  margin-top: 0;
  margin-bottom: 0;
  white-space: normal;
}

.better-backlinks-file-match ul {
  padding-inline-start: var(--list-indent);
}

.better-backlinks-file-match a {
  text-decoration: none;
  cursor: default;
}

.better-backlinks-file-match ul {
  position: relative;
}

/* Copied from Obsidian */
.better-backlinks-file-match li > ul::before {
  content: "\200B";
  position: absolute;
  display: block;
  left: -1em;
  top: 0;
  bottom: 0;
  border-right: var(--indentation-guide-width) solid var(--indentation-guide-color);
}

.better-backlinks-breadcrumbs {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid var(--background-modifier-border);
}

.better-backlinks-tree-item-children {
  margin-left: 10px;
  padding-left: 10px;
  border-left: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
}

.better-backlinks-breadcrumb-container {
  display: flex;
  gap: 0.5em;
}

.better-search-wrapper {
  padding: 5px;
}

.better-search-wrapper:not(:last-child) {
  border-bottom: 1px solid var(--background-modifier-border)
}

.search-result-file-matches {
  font-size: var(--font-ui-smaller);
  line-height: var(--line-height-tight);
  background-color: initial;
  border-radius: var(--radius-s);
  overflow: hidden;
  margin: var(--size-4-1) 0 var(--size-4-2);
  color: var(--text-muted);
  box-shadow: initial;
}

.better-backlinks-file-match {
  box-shadow: 0 0 0 1px var(--background-modifier-border);
  background-color: var(--search-result-background);
}
